body{margin: 0 auto;
box-sizing: border-box;}
header{
    width: 800px;
    height: 200px;
    border: 5px solid red;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;

}
.main{
    width: 809px;
    display: flex;
    margin: 0 auto;
   
    
  
}

nav{
    width: 100px;
    height: 400px;
    border: 5px solid orange;
    }
    
    
section{
    width: 700px;
    height: 400px;
    border: 5px solid orange;
    margin: 0 auto;
   
    
}
footer{
    width: 800px;
    height: 200px;
    border: 5px solid grey;
    margin: 0 auto;
}